@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Nanum Gothic", sans-serif;
    list-style: none;
}
.inner{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}
a{
    color: black;
}
section{
    margin: 50px 0px;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0080ff;
}

/* 네비 */
.gnb {
    width: 100%;
    height: 100%;
    margin: 0 20px;
}
.gnb :before,
.gnb :after{display:none;content:"";}

.gnb .gnb_list li {
    padding: 5px;
    text-align: center;
}

.gnb .gnb_list li a {
    color: black;
    padding: 5px;
}

.gnb li:hover > a::after {
    display:inline-block;
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    height:2px;
    width:80%;
    background-color:#0080ff;
}

.gnb .gnb_list.depth1 {
    display: flex;
    justify-content: center;
}
.gnb .gnb_list.depth1 > .gnb_item{
    position: relative;
}
.gnb .gnb_list.depth1 > li > a {
    font-size: 18px;
    padding: 0 10px;
}

.gnb .gnb_list .gnb_list.depth2 {
    display: none;
    position: absolute;
    background: #fff;
    top: 43px;
    z-index: 9;
    width: 100%;
}
.gnb .gnb_list .gnb_list.depth2::before{
    background: #fff;
    position: absolute;
    height: 420px;
}
.gnb .gnb_list .gnb_list.depth2 > .gnb_item {
    display: flex;
    flex-direction: column;
}
.gnb .gnb_list .gnb_list.depth2 > .gnb_item a{
    word-break:break-all;
    font-size: 13px;
}

/* 로그인/검색 */
.account {
    display: flex;
}

.account span {
    margin-right: 10px;
}

/* 슬라이드 섹션1*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 섹션2 */
.sec02 .inner{
    align-items: center;
}
.sec02 ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sec02 ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    box-shadow: 1px 1px 1px 1px ;
}
.sec02 ul li a:hover{
    background: #0080ff;
    color: #fff;
    transition: all 0.3s ease;
}
.sec02 ul li a span{
    font-size: 50px;
}

/* 섹션3 */
.sec03{
    background: #0080ff;
}
.sec03 ul{
    display: flex;
    justify-content: space-between;
}
.sec03 ul li{
    width: 25%;
    display: flex;
    flex-direction: column;
}

/* 섹션4 */
.sec04 .inner{
    justify-content: space-between;
}
.sec04 .inner .menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.sec04 .inner .menu h3{
    background: #999;
    padding: 5px 10px;
    border-radius: 20px;
}
/* .sec04 .inner .menu .plus a{
    display: flex;
    align-items: center;
}
.sec04 .inner .menu .plus a span{
    margin-left: 5px;
    background: #999;
    border-radius: 100%;
}
.sec04 .inner .menu .plus a span:hover{
    transform: rotate(360deg);
    transition: all 0.5s linear;
} */
.sec04 .inner > div{
    width: 48%;
}
.sec04 .inner .menu li:nth-child(2){
    width: 100%;
}
.sec04 .inner .content{
    margin: 0px 5px 0 20px;
    overflow: hidden;
    height: calc(100% * 4);
    animation: slide 12s infinite;
}
.sec04 .inner > div .content li{
    vertical-align: middle;
}
.sec04 .inner > div .content li a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sec04 .inner > div .content li a:hover{
    font-weight: bold;
}
.sec04 .inner > div .content li a span{
    font-size: 13px;
    color: #999;
}

/* 섹션5 */
.sec05{
    background-color: #0080ff;
}
.sec05 .inner .reservation{
    display: flex;
}
.sec05 .inner .reservation div{
    display: flex;
    flex-direction: column;
}

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    background: #999;
}

footer .bot_logo img{
    width: 120px;
}

footer address p{
    font-size: 15px;
}

footer select{
    cursor: pointer;
}