@charset "utf-8";
@media (max-width:640px){
    .sec06 .wrap{
        flex-direction: column;
        align-items: center;
    }
    .sec06 .inner .wrap .course.coast{
        margin-top: 30px;
    }
}