@charset "utf-8";
@media (max-width:1024px){
    h2 {
        font-size: 1.8rem;
    }

    .gnb{
        display: none;
    }

    .account .sitemap{
        display:block;
    }
    

    .sec02 .inner{
        flex-direction: column;
    }
    .sec02 .inner h2{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .sec02 ul{
        margin: 50px 10px 0 10px;
    }
    .sec02 ul li a{
        width: 100px;
        height: 100px;
        font-size: 15px;
    }
    .sec02 ul li a span{
        font-size: 30px;
    }

    .sec03 ul li {
        width: 150px;
        font-size: 25px;
    }
    
    .sec03 ul li span {
        font-size: 25px;
    }
    .sec03 ul li p{
        font-size: 20px;
    }

    .sec05 .inner .reservation .schedule{
        flex-direction: column;
        align-items: center;
    }
    .sec05 .inner .reservation .schedule .calendar{
        width: 97%;
        margin: 20px 0;
    }
    .sec05 .inner .reservation .right{
        margin-left: 0px;
    }

    .sec05 .inner .reservation .button a {
        width: 140px;
        font-size: 18px;
    }

    .sec06 .inner .wrap .course{
        height: 420px;
        position: relative;
        margin: 0 10px;
        display:table-cell;
    }
    .sec06 .inner .wrap .course .name span{
        font-size: 15px;
    }
    .sec06 .inner .wrap .course .name p{
        font-size: 30px;
        font-weight: bold;
    }
    
    .sec06 .inner .wrap .course .link a{
        font-size: 18px;
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
    }
    footer .inner .footer_top{
        flex-direction: column;
        align-items: flex-start;
    }
    footer .footer_top .shortcut{
        margin: 20px 0 0 -30px;
    }
}