@charset "utf-8";
@media (max-width:640px){
    h2 {
        font-size: 1.8rem;
    }

    .account span {
        font-size: 25px;
    }
    
    /* 섹션2 */
    .sec02 .page-top .title h2{
        font-size: 30px;
    }

    /* 섹션3 */
    .sec03 .page-mid .top .caution{
        font-size: 20px;
    }
    .sec03 .page-mid .top .road h3{
        width: 100%;
        font-size: 20px;
    }
    .sec03 .page-mid .top .road .method{
        margin-top: 25px;
    }
    .sec03 .page-mid .top .road span{
        font-size: 17px;
    }

    /* footer */
    footer .footer_top .shortcut{
        margin: 20px 0 0 0px;
    }
    footer .footer_top .shortcut a {
        font-size: 13px;
    }
    footer address p {
        font-size: 12px;
    }
}