@charset "utf-8";
@media (max-width:640px){

    /* 공통 */
    .inner{
        width: 100%;
    }
    .navi li a{
        font-size: 18px;
        font-weight: 600;
    }

    /* 섹션1 */
    .sec01 .inner .home h1{
        font-size: 35px;
    }
    .sec01 .inner .home span{
        font-size: 25px;
    }

    /* 섹션2 */
    .sec02 .inner h2{
        font-size: 30px;
    }
    .sec02 .inner .profile{
        background: rgba(255,255,255,0.8);
        width: 50%;
        height: 50%;
    }
    .sec02 .inner .profile > ul{
        margin: 0 10px;
    }
    .sec02 .inner .profile .title{
        font-size: 15px;
    }
    .sec02 .inner .profile .content{
        margin: 20px 0 ;
    }
    .sec02 .inner .profile .content li{
        font-size: 12px;
    }
    .sec02 .inner .profile .content.skill{
        margin-top: 0;
    }
    .sec02 .inner .profile .content.skill li{
        margin: 20px 20px 0 0;
        padding: 5px;
        border-radius: 5px;
    }

    /* 섹션3*/
    .sec03 .inner .project_name {
        width: 90%;        
    }

    .sec03 .inner .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .sec03 .inner .project .left,
    .sec03 .inner .project .right {
        width: 100%;
    }

    .sec03 .inner .project .left{
        position: relative;
    }
    .sec03 .inner .project .left::before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        background: #ddd;
        top: 0;
    }

    .sec03 .inner .project .right::before {
        display: none;
    }


    /* 섹션4 */
    .sec04 .inner .end .contact h2{
        font-size: 30px;
    }
    .sec04 .inner .end .contact ul{
        margin: 10px 0 0 0 ;
    }
    .sec04 .inner .end .contact ul li a{
        display: block;
        font-size: 15px;
    }
    .sec04 .inner .bye h3{
        font-size: 30px;
        text-align: center;
    }
}