@charset "utf-8";
/* 공통 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing:border-box ;
    list-style: none;
}
a,span{
    color: black;
}
.sec01, .sec02,.sec03 ,.sec04{
    height: 1040px;
}
.inner{
    width: 1400px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 네비 */
nav{
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.8);
    padding: 20px 0;
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 60px;
    z-index: 100;
}
.navi li a{
    font-size: 30px;
    font-weight: 600;
}
.navi li a:hover{
    color: #fc8406;
}


/* 섹션1 */
.sec01{
    background: url(/project01/image/길001.png) no-repeat 50% 50%/cover;
}
.sec01 .inner .home{
    background: rgba(255,255,255,0.8);
    padding: 20px;
    text-align: center;    
}
.sec01 .inner .home h1{
    font-size: 60px;
}
.sec01 .inner .home span{
    font-size: 40px;
}

/* 섹션2 */
.sec02{
    background: url(/project01/image/길02.png) no-repeat 50% 50%/cover;
}
.sec02 .inner h2{
    font-size: 50px;
}
.sec02 .inner .profile{
    background: rgba(255,255,255,0.8);
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.sec02 .inner .profile > ul{
    margin: 0 30px;
}
.sec02 .inner .profile .title{
    font-size: 30px;
    font-weight: bold;
}
.sec02 .inner .profile .content{
    display: flex;
    flex-direction: column;
    margin: 20px 0 ;
}
.sec02 .inner .profile .content.skill{
    flex-direction: row;
    flex-wrap: wrap;
}
.sec02 .inner .profile .content li{
    font-size: 18px;
    font-weight: 500;
    word-break: keep-all;
}
.sec02 .inner .profile .content.skill li{
    margin: 0 20px 0 0;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

/* 섹션3 */
.sec03{
    background: url(/project01/image/길03.png) no-repeat 50% 50%/cover;
}
.sec03 .inner .project_name{
    width: 100%;
}
.sec03 .inner .project_name > ul{
    display: flex;
    justify-content: right;
}
.sec03 .inner .project_name > ul > li{
    background: #ddd;
    padding: 10px;
    width: 100px;
}

.sec03 .inner .project{
    display: flex;
    background: rgba(255,255,255,0.8);
    width: 100%;
}
.sec03 .inner .project .left{
    width: 50%;
    background: #eee;
}
.sec03 .inner .project .left .web{
    overflow: hidden;
    width: 500px;
    height: 300px;
    position: relative;
}
.sec03 .inner .project .left .web .web-img{
    background: url(/project01/image/Screenshot_1.JPG) no-repeat center/cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    transition: all 2s;
}
.sec03 .inner .project .left .mobile{
    overflow: hidden;
    width: 150px;
    height: 220px;
    position: absolute;
    top: 250px;
    right: 5%;
}
.sec03 .inner .project .left .mobile .mobile-img{
    background: url(/project01/image/Screenshot_2.JPG) no-repeat center/cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1000px;
    transition: all 3s;
    z-index: 1;
}


.sec03 .inner .project .right{
    width: 50%;
    position: relative;
}
.sec03 .inner .project .right::before{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    background: #eee;
    top: 0;
}
.sec03 .inner .project .right .info{
    margin: 20px;
}
.sec03 .inner .project .right .info h3{
    font-size: 25px;
}
.sec03 .inner .project .right .info div{
    display: flex;
    margin: 20px 10px 0 0px;
    width: 100%;
}
.sec03 .inner .project .right .info div h4{
    flex: 0 0 150px;
    width: 130px;
    font-size: 20px;
}
.sec03 .inner .project .right .info div P{
    word-break: keep-all;
}
.sec03 .inner .project .right .btn{
    margin: 20px 10px 0 10px;
}

/* 섹션4 */
.sec04{
    background: url(/project01/image/길04.png) no-repeat 50% 50%/cover;
}
.sec04 .inner .end{
    background: rgba(255,255,255,0.8);
    padding: 20px;
}
.sec04 .inner .end .contact h2{
    font-size: 40px;
}
.sec04 .inner .end .contact ul{
    margin: 20px 0 0 0 ;
}
.sec04 .inner .end .contact ul li a{
    display: block;
    font-size: 25px;
}
.sec04 .inner .bye h3{
    font-size: 40px;
    text-align: center;
}