@charset "utf-8";
@media all and (min-width:641px) and (max-width:1080px){    
    .account, nav .wrapper,.left{
        display: none;
    }

    nav{
        justify-content: flex-end;
    }
    
    /* 섹션1 */
    .sec01 .banner{
        height: 250px;
    }
    .sec01 .banner h2{
        left: 3%;
        top: 40%;
    }
    .sec01 .banner span{
        left: 3%;
        top: 63%
    }

    .right{
        width: 100%;
        justify-content: center;
        margin: 0 10px;
    }

    .right li span{
        font-size: 13px;
    }

    /* footer */
    footer img{
        width: 100px;
    }
    footer .address{
        font-size: 10px;
    }    
    footer .mark img{
        width: 20px;
        height: 20px;
    }
    footer .mark div span{
        font-size: 8px;
    }
}