@charset "utf-8";
@media all and (max-width:640px){
    /* 공통 */
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .inner{
        width:100%
    }
    .sec02,.sec03,.sec04,.sec05{
        width:100%
    }
    h2{
        font-size: 18px;
    }
    .menu>span{
        font-size: 13px;
    }
    .menu span,a{
        margin: 0;
    }

    .account{
        display: none;
    }
    /* 헤더 */
    .header_inner{
        width: 100%;
        padding: 0;
    }
    header img{
        width: 120px;
    }
    /* 네비 */
    nav .wrapper,
    .button input{
        display: none;
    }
    nav{
        justify-content: flex-end;
    }
    /* 섹션2 */
    .sec02 .inner .boxContent01 a{
        width: 90px;
        height: 90px;
        font-size: 10px;
        word-wrap: break-word;
        padding: 0;
    }
    .sec02 .inner .boxContent01 a img{
        width: 30px;
        height: 30px;
    }

    /* 섹션3 */
    .sec03 .inner{
        display: flex;
        flex-direction: column;
    }
    .sec03 .inner .left{
        width: 100%;
        height: auto;
    }
    .sec03 .inner .left .boxContent02{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;
    }
    .sec03 .inner .left .boxContent02 a{
        width: 90px;
        height: 90px;
        font-size: 10px;
    }
    .sec03 .inner .right{
        width: 100%;
    }
    .sec03 .inner .right .article01, .article02 h3{
        font-size: 15px;
    }
    .sec03 .inner .right .article01, .article02 span{
        font-size: 13px;
    }

    /* 섹션4 */
    .sec04 .inner{
        width: 100%;
    }
    .sec04 .inner .boxContent03 a{
        width: 90px;
        height: 90px;
        font-size: 10px;
        padding: 0;
    }
    .sec04 .inner .boxContent03 a img{
        width: 30px;
        height: 30px;
        margin: 0;
    }

    /* 섹션5 */
    
    .tag a{
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* swiper */
    .swiper-slide .content{
        display: none;
        opacity: 0;
    }

    /* footer */
    footer img{
        width: 80px;
    }
    footer .address{
        font-size: 5px;
    }
    footer .mark{
        margin: 0;
        padding: 0;
    }
    footer .mark img{
        width: 15px;
        height: 15px;
    }
    footer .mark div span{
        display: none;
    }

    /* 사이트맵 */
    .sitemap{
        background: #43a047;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

     /* 헤더 */
     .sitemap header{
        height: 100px;
    }
    .sitemap header .slideToggle{
        width: 80px;
        border: 2px solid #fff;
        font-size: 13px;
        top: 60px;
        right: 10px;
        padding: 5px 0;
    }
    .sitemap header p,
    .sitemap header .close{
        font-size: 20px;
    }

    /* 네비 */
    .sitemap .nav{
        position: relative;
        margin-top: 40px;
    }
    .sitemap .title {
        font-size: 18px;
        width: 150px;
        position: absolute;
        top: -27px;
        margin: 0;
    }
    .sitemap .content{
        width: 100%;
    }
    .sitemap .list h3{
        font-size: 13px;
        word-break:break-all;
    }
    .sitemap .list li{
        font-size: 11px;
        word-wrap: break-word;
        margin-left: 17px;
    }
    .sitemap .list .sub_list{
        font-size: 10px;
    }
}