@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-bottom: 1px solid red; */
    text-decoration: none;
}
body{
    background: #43a047;
}
.sitemap{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
.sitemap .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #43a047;
}
.sitemap a{
    color: #fff;
}
.sitemap .material-symbols-outlined{
    border: 1px solid #fafbfc;
}
.sitemap .sitemap {
    width: 100%;
}

/* 헤더 */
.sitemap header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* position: fixed; */
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    border-bottom: 4px solid #fafbfc;
}
.sitemap header .close {
    float: right;
    position: absolute;
    top: 20px;
    right: 10px;
}
.sitemap header .slideToggle{
    width: 200px;
    position: absolute;
    border: 2px solid #fff;
    font-size: 20px;
    top: 100px;
    right: 10px;
    padding: 5px 0;
}


/* nav */
.sitemap .nav {
    display: flex;
    justify-content: space-between;
    visibility:visible;
    margin: 10px 0;
}
.sitemap .title {
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    margin: 0 10px;
    width: 15%;
    text-align: center;
    border: 1px solid #fafbfc;
    font-weight: bold;
}
.sitemap .content {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    transition: height 0.3s ease;
    border-top: 1px solid #fafbfc;
    border-bottom: 1px solid #fafbfc;
    flex-wrap: wrap;
}
.sitemap li a:hover,
.sitemap .list h3 a:hover{
    transition: all 0.2s ease;
    font-weight: 800;
    color: black;
}

.sitemap .list {
    width: 20%;
}
.sitemap .list h3 {
    color: #fff;
    word-break:keep-all;
    border: 1px solid #fafbfc;
    margin: 0 10px 0 0;
    text-align: center;
    padding: 5px 0;
}
.sitemap .list li {
    color: #fff;
    margin: 10px 10px 10px 25px;
    text-indent: -5px;
}
.sitemap .list .sub_list {
    margin: 10px 0 0 10px;
    font-size: 13px;
}