@charset "utf-8";
@media all and (min-width:641px) and (max-width:1080px){
    /* 공통 */
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .inner{
        width:100%
    }
    .sec01,.sec02,.sec03,.sec04,.sec05{
        width:100%
    }
    h2{
        font-size: 20px;
    }
    .menu>span{
        font-size: 15px;
    }

    /* 로그인 */
    .account{
        display: none;
    }

    /* 헤더 */
    header{
        width: 100%;
    }
    header img{
        width: 150px;
    }

    /* 네비 */
    nav .wrapper{
        display: none;
    }
    nav{
        justify-content: flex-end;
    }
    
    /* sec02 */
    .sec02 .inner .boxContent01 a{
        width: 100px;
        height: 100px;
        padding: 0;
        font-size: 13px;
    }
    .sec02 .inner .boxContent01 a img{
        width: 40px;
        height: 40px;
        margin: 0;
    }

    /* sec03 */
    .sec03 .inner{
        display: flex;
        flex-direction: column;
    }
    .sec03 .inner .left{
        width: 100%;
        height: auto;
    }
    .sec03 .inner .left .boxContent02{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;
        /* overflow-y: scroll; */
        padding: 0;
    } 
    .sec03 .inner .left .boxContent02 a{
        width: 100px;
        height: 100px;
        font-size: 13px;
    }
    .sec03 .inner .right{
        width: 100%;
    }

    /* sec04 */
    .sec04 .inner .boxContent03 a{
        width: 100px;
        height: 100px;
        font-size: 13px;
        padding: 0;
    }
    .sec04 .inner .boxContent03 a img{
        width: 40px;
        height: 40px;
        margin: 0;
    }

    /* sec05 */
    .tag{
        display: none;
    }
    .tag a{
        font-size: 15px;
    }
    .sec05 h3{
        font-size: 18px;
    }
    .sec05 h5{
        font-size: 15px;
    }
    .sec05 p{
        font-size: 13px;
    }

    /* swiper */
    .swiper-slide .content{
        bottom: 50px;
    }
    /* footer */
    footer img{
        width: 130px;
    }
    footer .address{
        font-size: 13px;
    }    
    footer .mark img{
        width: 20px;
        height: 20px;
    }
    footer .mark div span{
        font-size: 10px;
    }

    /* 사이트맵 */
    .sitemap{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.7);
        position: fixed;
    }
    .sitemap .inner{
        background: #43a047;
        position: absolute;
        width: 640px;
        right: 0;
        top: 0;
        overflow: auto;
    }

    /* 헤더 */
    .sitemap header{
        height: 100px;
    }
    .sitemap header .slideToggle{
        width: 100px;
        border: 2px solid #fff;
        font-size: 15px;
        top: 60px;
        right: 10px;
        padding: 5px 0;
    }
    .sitemap header p{
        font-size: 30px;
    }

    /* 사이트맵 네비 */
    .sitemap .title {
        font-size: 20px;
        width: 18%;
    }
    .sitemap .list h3{
        font-size: 12px;
        word-break:keep-all;
    }
    .sitemap .list li{
        font-size: 12px;
        word-wrap: break-word;
    }
    .sitemap .list .sub_list{
        font-size: 10px;
    }
}