@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
/* @import url(KTOstyle_t.css);
@import url(KTOstyle_m.css); */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
/* body{
    max-width: 1600px;
} */
span, a{
    color: black;
    font-weight: 400;
}
.inner{
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.sec02 .inner .menu,
.sec03 .inner .menu,
.sec04 .inner .menu{
    margin-left: 10px;
}

/* 헤더 */
header{
    display: flex;
    top: 0;
    max-width: 1920px;
    /* position: fixed; */
}
.header_inner{
    display: flex;
    position:relative;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    padding: 0;
    padding: 0 0 0 10px;
    align-items: center;
    justify-content: space-between;
}
/* .header_inner .logo{
    position: absolute;
    left: 20px;
} */
header img{
    width: 160px;
    font-size: 0;
}
:before,
:after{display:none;content:"";}

/* 네비 */
/* nav common */
.gnb {
    width: 1000px;
    height: 100%;
}
.gnb .gnb_list ul{
    display: none;
}
.gnb li{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.gnb li > a{
    position:relative;
    width:100%;
    text-align: center;
}
.gnb li:hover > a:after{
    display:inline-block;
    position:absolute;
    top:80%;
    left:50%;
    transform:translateX(-50%);
    height:1px;
    width:90%;
    background-color:#43a047;
}
.gnb .gnb_list{
    display: flex;
}
.gnb .gnb_title{
    position:absolute;
    top:42%;
    left: -15%;
    width:100%;
    font-size: 25px;
}
/* //nav common */
.gnb .gnb_list.depth1{
    padding: 0 72px;
    height: 100%;
}
.gnb .gnb_list.depth1 > .gnb_item{
    width: 20%;
    z-index: 100;
    height: 100%;
}
.gnb .gnb_list.depth1 > .gnb_item:before{
    display: none;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:425px;
    background-color: #badbad44;
    z-index: -1;
}
.gnb .gnb_list.depth1 .gnb_item .gnb_anchor{
    padding: 17px 9px;
    border-radius: 10px;
}
.gnb .gnb_list.depth1 > .gnb_item .depth2{
    position: absolute;
    top:100%;
    left:20%;
    flex-direction: column;
    height:426px;
    background-color:#fff;
    width: 1200px;
}
.gnb .gnb_list.depth1 > .gnb_item .depth2>.gnb_item{
    border-bottom:1px solid #43a047;
    justify-content: flex-start; 
    flex-shrink: 0;   
}
.gnb .gnb_list.depth1 > .gnb_item .depth2>.gnb_item>.gnb_anchor{
    font-size: 18px;
    width: 210px;
}

.gnb .gnb_list.depth1 > .gnb_item > .depth2 > .gnb_item > .depth3{
    /* top:0;
    left:100%; */
    flex-wrap: wrap;
    /* max-height: 420px; */
    overflow: auto;
    display: flex;
    width: calc(100% - 210px);
}
.gnb .gnb_list.depth1 > .gnb_item .depth2 > .gnb_item .depth3 > .gnb_item{
    text-align: center;
    display: flex;
}
.gnb .gnb_list.depth1 > .gnb_item .depth2 > .gnb_item .depth3 .gnb_item .gnb_anchor{
    font-size: 14px;
    white-space: nowrap;
}

@media (min-width:800px) {
    .gnb .gnb_list.depth1 > .gnb_item:hover .depth2{
        display: flex;
    }
    .gnb .gnb_list.depth1 > .gnb_item:hover:before{
        display: inline-block;
    }
    .gnb .gnb_list.depth1 > .gnb_item .depth2 > .gnb_item:hover .depth3{
        display: flex;
    }
}


/* 로그인 회원가입 사이트맵 */
.header_right{
    display: flex;
    width: 15%;
    flex-direction: column;
    /* position: absolute;
    right: 20px; */
}
.account{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-bottom: 5px;
}
.account ul{
    display: flex;
    list-style-type: none;
}
.account ul li:first-child{
    margin: 0 10px;
}
.account ul li a{
    display: flex;
    align-items: center;
    font-size: 11px;
}
.account ul li a span{
    font-size: 13px;
    margin: 0;
}
.account .language{
    position: absolute;
    flex-direction: column;
    z-index: 100;
    background: #fff;
}
.account .language li{
    padding: 5px 0;
}

/* 검색 */
.button{
    display: flex;
    width: 100%;
    justify-content: right;
}
.button form{
    display: flex;
    align-items: center;
}
.button .hidden{
    overflow: hidden;
    font-size: 1px;
    line-height: 1px;
    text-indent: -3000px;
}
.button input{
    height: 30px;
    width: 120px;
}
.button form input{
    height: 20px;
}
.button form span{
    display: flex;
    align-items: center;
}

/* 섹션1  나중에 다시 정리(배너바, 동적인 요소)*/

section{
    margin: 30px 5px;
}
/* 스와이퍼(sec01, sec05 슬라이드 공통) */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50%;
    height: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* 섹션2 */
.sec02{
    margin: 50px 0;
}
.sec02 .inner{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #dddddd;
}
.sec02 .inner .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sec02 .inner .menu>div{
    display: flex;
}
.sec02 .inner .menu span{
    display: flex;
    align-items: center;
    margin: 5px;
}
.sec02 .inner .boxContent01{
    overflow: auto;
    width: 100%;
}
.sec02 .inner .boxContent01 .boxContent_list,
.sec03 .inner .boxContent02 .boxContent_list{
    display: flex;
    gap:10px 30px;
    justify-content: space-between;
    padding: 0 3%;
    margin: 10px;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item,
.sec03 .inner .boxContent02 .boxContent_list .boxContent_item{
    list-style: none;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item a,
.sec03 .inner .boxContent02 .boxContent_list .boxContent_item a{
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    word-break:keep-all;
    border-radius: 20px;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(1) .boxContent_anchor{
    border: 1px solid #D63C3A;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(2) .boxContent_anchor{
    border: 1px solid #EB581F;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(3) .boxContent_anchor{
    border: 1px solid #FBCE4C;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(4) .boxContent_anchor{
    border: 1px solid #8BCB49;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(5) .boxContent_anchor{
    border: 1px solid #11A0DD;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(6) .boxContent_anchor{
    border: 1px solid #485DA4;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(7) .boxContent_anchor{
    border: 1px solid #9D419F;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(1) .boxContent_anchor:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #D63C3A;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(2) .boxContent_anchor:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #eb581f;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(3) .boxContent_anchor:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #FBCE4C;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(4) .boxContent_anchor:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #8BCB49;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(5) .boxContent_anchor:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #11A0DD;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(6) .boxContent_anchor:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #485DA4;
}
.sec02 .inner .boxContent01 .boxContent_list .boxContent_item:nth-of-type(7) .boxContent_anchor:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #9D419F;
}
.sec02 .inner .boxContent01 .boxContent_list img{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

/* 섹션3 */
.sec03{
    width: 100%;
    margin: 50px 0;
}
.sec03 .inner{
    width: 100%;
    height: 100%;
    align-items: stretch;
    border-bottom: 1px solid #dddddd;
}

.sec03 .left{
    width: 45%;
    margin: 10px 50px 0 0;
}
.sec03 .inner .left .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec03 .inner .left .menu span{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.sec03 .inner .left .boxContent02 .boxContent_list{
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    /* height: 100%; */
}
.sec03 .inner .left .boxContent02 .boxContent_list .boxContent_item{
    /* display: inline-block; */
    padding: 5px;
}
/* .sec03 .inner .left .boxContent02 .boxContent_list .boxContent_item:nth-child(2n + 1){
    margin-right:25px;
} */
.sec03 .inner .left .boxContent02 .boxContent_list .boxContent_item .boxContent_anchor{
    display: flex;
    font-size: 17px;
    border:1px solid #dddddd;
    word-break:keep-all;
    border-radius:5px;
    width: 100px;
    height: 100px;
}
.sec03 .inner .left .boxContent02 .boxContent_list .boxContent_item .boxContent_anchor:hover{
    background: #43a047;
    color: #fff;
    transition: all 0.3s ease;
}

/* 섹션3보도자료 */
.sec03 .inner .right{
    width: 100%;
    margin: 10px 0 10px 30px;
}
.sec03 .inner .right .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec03 .inner .right .menu span{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.sec03 .inner .right .article01, .article02{
    margin: 20px 0 0 10px;
    width: 100%;
}
.sec03 .inner .right h3{
    margin: 0 0 10px 0;
}
.sec03 .inner .right ul{
    margin: 0 15px;
}
.sec03 .inner .right ul li{
    margin: 0 5px 15px 5px;
    list-style-type :disc;
}
.sec03 .inner .right ul li a{
    display: flex;
    justify-content: space-between;
}
.sec03 .right .article01 a:hover,
.sec03 .right .article02 a:hover{
    font-weight: bold;
}

.sec03 .inner .right ul li a .title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
}

@media (max-width:1250px){
    .sec03 .inner{
        display: flex;
        flex-direction: column;
    }
    .sec03 .inner .left{
        width: 100%;
        /* overflow-x: scroll;*/
    }
    .sec03 .inner .left .boxContent02 .boxContent_list{
        display: flex;
    }
    .sec03 .inner .right{
        width: 100%;
        margin: 30px 0 0 0;
    }
    .sec03 .inner .right .article01 ul,
    .sec03 .inner .right .article02 ul{
        margin-left: 20px;
    }
}
/* 뉴스탭 */
.newstab button{
    padding: 10px 24px;
    margin: 5px 10px;
    background: none;
    border-radius: 10px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.newstab button:hover,
.newstab button.on{
    transition: all 0.3s ease;
    background: #43a047;
    border: 1px solid #43a047;
    color: #fff;
}

/* 섹션4 */
.sec04{
    margin: 50px 0;
}
.sec04 .inner{
    flex-direction: column;
    align-items: center;
    gap: 0 40px;
}
.sec04 .inner .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}
.sec04 .inner .menu span{
    display: flex;
    align-items: center;
    margin: 5px;
}


/* sec04 컨텐츠 */
.content, .content a{
    width: 100%;
}
.content a p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content a,
.content h3,
.content p{
    border: 1px solid #fff;
}

/* sec04 태그 */
.tag{
    margin: 0;
    padding: 0;
    display: flex;
}
.tag a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
}
.tag a:hover{
    color: black;
    background: #fff;
    transition: all 0.3s ease;
}

/* 섹션5 */
.sec05{
    margin: 50px 5px;
}
.sec05 .inner{
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #dddddd;
}
.sec05 .inner .menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.sec05 .inner .menu span{
    display: flex;
    align-items: center;
    margin: 5px;
}
.sec05 .inner .boxContent03{
    overflow: auto;
    width: 100%;
}
.sec05 .inner .boxContent03 .boxContent_list{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: space-between;
    padding: 0 3%;
    margin: 10px;
}
.sec05 .inner .boxContent03 .boxContent_list a{
    display: flex;
    width: 130px;
    height: 130px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    gap: 7px;
    border: 1px solid #dddddd;
    transition : all 0.3s ease;
    word-break:keep-all;
}
.sec05 .inner .boxContent03 .boxContent_list a:hover{
    background: #43a047;
    color: #fff;
}

.sec05 .inner .boxContent03 a img{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 100%;
}


/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #dddddd;
    background: #222222;
    padding: 30px 0;
}
footer .address{
    display: flex;
    flex-direction: column;
}
.address address,
.address span{
    color: #fff;
}
footer .mark{
    display: flex;
    align-items: flex-end;
}
footer .mark a{
    margin: 0;
    padding: 0;
}
.mark img{
    display: block;
    width: 25px;
    height: 25px;
}
.mark div{
    display: flex;
    flex-direction: column;
}
.mark div span{
    font-size: 10px;
    color: #fff;
}

/* 사이트맵 */
.sitemap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
    background: #43a047;
    width: 100%;
}
.sitemap .inner{
    display: flex;
    max-width: 1400px;
    flex-direction: column;
    margin: 10px auto;
}
.sitemap a,
.sitemap p,
.sitemap span{
    color: #fff;
}
.sitemap .material-symbols-outlined{
    border: 1px solid #fafbfc;
}

/* 헤더 */
.sitemap header{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    border-bottom: 4px solid #fafbfc;
}
.sitemap header .close {
    position: absolute;
    top: 20px;
    right: 10px;
    float: right;
    border: none;
    font-size: 40px;
}
.sitemap header .slideToggle{
    position: absolute;
    top: 130px;
    right: 10px;
    width: 200px;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 5px 0;
    font-weight: 500;
}


/* nav */
.sitemap .nav {
    display: flex;
    justify-content: space-between;
    visibility:visible;
    margin: 10px 0;
    width: 100%;
}
.sitemap .title {
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    margin: 0 10px;
    width: 220px;
    text-align: center;
    border: 1px solid #fafbfc;
}
.sitemap .title span{
    font-weight: bold;
}
.sitemap .content {
    display: flex;
    width: 85%;
    justify-content: flex-start;
    transition: height 0.3s ease;
    border-top: 1px solid #fafbfc;
    border-bottom: 1px solid #fafbfc;
    flex-wrap: wrap;
}
.sitemap li a:hover,
.sitemap .list h3 a:hover{
    transition: all 0.2s ease;
    font-weight: 700;
    color: black;
}
.sitemap .list {
    width: 20%;
}
.sitemap .list h3{
    color: #fff;
    word-break:keep-all;
    border: 1px solid #fafbfc;
    margin: 0 10px 0 0;
    text-align: center;
    padding: 5px 0;
}
.sitemap .list h3 a{
    font-weight: bold;
}
.sitemap .list li {
    color: #fff;
    margin: 10px 10px 10px 25px;
    text-indent: -5px;
}
.sitemap .list a{
    border: none;
}
.sitemap .list .sub_list {
    margin: 10px 0 0 10px;
    font-size: 13px;
}