@charset "utf-8";
@media all and (min-width:641px) and (max-width:1080px){
    .account, nav .wrapper,.left{
        display: none;
    }

    nav{
        justify-content: flex-end;
    }
    
    /* 섹션1 */
    .sec01 .banner{
        height: 250px;
    }
    .sec01 .banner h2{
        left: 3%;
        top: 40%;
    }
    .sec01 .banner span{
        left: 3%;
        top: 63%
    }

    /* 섹션2 */
    .right{
        justify-content: center;
        width: 100%;
        margin: 0 10px;
    }
    .right .contact ul li{
        margin: 0 10px;
    }
    .right .contact h3{
        font-size: 14px;
    }
    .right li span{
        font-size: 13px;
    }

    /* 가이드북01 */
    .guidebook01{
        width: 90%;
    }
    .guidebook01 img{
        width: 220px;
    }
    .guidebook01 .text{
        font-size: 16px;
    }
    .pdf .button{
        width: 240px;
        height: 40px;
        font-size: 12px;
        background: #eee;
        border: 1px solid #ddd;
        color: red;
        cursor: pointer;
    }
    .pdf .button span{
        font-size: 18px;
    }

    /* 가이드북02 */
    .guidebook02{
        width: 90%;
    }
    .guidebook02 a img{
        width: 200px;
    }
    .guidebook02 .download{
        width: 200px;
        height: 40px;
        line-height: 30px;
        bottom: -34px;
        font-size: 12px;
    }


    /* footer */
    footer img{
        width: 100px;
    }
    footer .address{
        font-size: 10px;
    }    
    footer .mark img{
        width: 20px;
        height: 20px;
    }
    footer .mark div span{
        font-size: 8px;
    }
}