@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
    text-decoration: none;
}
body {
    background: #43a047;
}
.sitemap {
    width: 100%;
}
.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* position: fixed; */
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}
header span {
    float: right;
    position: absolute;
    top: 20px;
    right: 10px;
}
a {
    color: #fff;
}
.nav {
    display: flex;
    justify-content: space-between;
    visibility:visible;
}
.title {
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    margin: 0 10px;
    width: 250px;
    text-align: center;
}
.content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.list {
    width: 20%;
}
.list h3 {
    color: #fff;
}
.list li {
    color: #fff;
    margin: 10px 0 10px 20px;
    text-indent: -5px;
}
.list .sub_list {
    margin: 10px 0 0 20px;
}

/* 정보공개-도서자료실, 관광산업육성 및 지원 */
.snd_inner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.snd_inner .content .list{
    width: 20%;
}
