@charset "utf-8";
@media all and (max-width:640px){
    .sitemap{
        background: #43a047;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

     /* 헤더 */
     header{
        height: 100px;
    }
    header .slideToggle{
        width: 80px;
        border: 2px solid #fff;
        font-size: 13px;
        top: 60px;
        right: 10px;
        padding: 5px 0;
    }
    header p{
        display: none;
    }

    /* 네비 */
    .title {
        font-size: 15px;
        width: 19%;
    }
    .list h3{
        font-size: 13px;
    }
    .list li{
        font-size: 11px;
        word-wrap: break-word;
        margin-left: 17px;
    }
    .list .sub_list{
        font-size: 10px;
    }
}