@charset "utf-8";
@media all and (max-width:800px){
    /* 공통 */
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .inner{
        width:100%
    }
    .sec01,.sec02,.sec03,.sec04,.sec05{
        width:100%
    }
    h2{
        font-size: 18px;
    }
    .menu>span{
        font-size: 13px;
    }
    .menu span,a{
        margin: 0;
    }

    /* 헤더 */
        header img{
            width: 75px;
        }
    /* 네비 */
    nav, .link>ul{
        display: none;
    }

    /* 섹션2 */
    .sec02 .inner .boxContent01 a{
        width: 90px;
        height: 90px;
        font-size: 10px;
        word-wrap: break-word;
        padding: 0;
    }
    .sec02 .inner .boxContent01 a img{
        width: 30px;
        height: 30px;
    }

    /* 섹션3 */
    .sec03 .inner{
        display: flex;
        flex-direction: column;
    }
    .sec03 .inner .left{
        width: 100%;
    }
    .sec03 .inner .left .boxContent02 div{
        display: flex;
        justify-content: center;
    }
    .sec03 .inner .left .boxContent02 div a{
        width: 90px;
        height: 90px;
        font-size: 10px;
    }
    .sec03 .inner .right{
        width: 100%;
    }
    .sec03 .inner .right .article01, .article02 h3{
        font-size: 15px;
    }
    .sec03 .inner .right .article01, .article02 span{
        font-size: 13px;
    }

    /* 섹션4 */
    .sec04 .inner{
        width: 100%;
    }
    .sec04 .inner .boxContent03 a{
        width: 90px;
        height: 90px;
        font-size: 10px;
        padding: 0;
    }
    .sec04 .inner .boxContent03 a img{
        width: 30px;
        height: 30px;
        margin: 0;
    }

    /* 섹션5 */
    
    .tag a{
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* swiper */
    .swiper-slide .content{
        display: none;
        opacity: 0;
    }

    /* footer */
    footer img{
        width: 80px;
    }
    footer .address{
        font-size: 5px;
    }
    footer .mark{
        margin: 0;
        padding: 0;
    }
    footer .mark img{
        width: 15px;
        height: 15px;
    }
    footer .mark div span{
        display: none;
    }
}