@charset "utf-8";
@media all and (min-width:641px) and (max-width:1080px){
    /* 공통 */
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .inner{
        width:100%
    }
    .sec01,.sec02,.sec03,.sec04,.sec05{
        width:100%
    }
    h2{
        font-size: 20px;
    }
    .menu>span{
        font-size: 15px;
    }

    /* 헤더 */
    header{
        width: 100%;
        height: auto;
    }
    header img{
        width: 120px;
        height: 100%;
    }

    /* 네비 */
    nav, .link>ul{
        display: none;
    }
    
    /* sec02 */
    .sec02 .inner .boxContent01 a{
        width: 100px;
        height: 100px;
        padding: 0;
        font-size: 15px;
    }
    .sec02 .inner .boxContent01 a img{
        width: 50px;
        height: 50px;
    }

    /* sec03 */
    .sec03 .inner{
        display: flex;
        flex-direction: column;
    }
    .sec03 .inner .left{
        width: 100%;
    }
    .sec03 .inner .boxContent02{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .sec03 .inner .boxContent02 div{
        width: 100%;
    }
    .sec03 .inner .left .boxContent02 div a{
        width: 120px;
        height: 120px;
        font-size: 15px;
    }
    .sec03 .inner .right{
        width: 100%;
    }



    /* sec04 */
    .sec04 .inner .boxContent03 a{
        width: 100px;
        height: 100px;
        font-size: 15px;
        padding: 0;
    }
    .sec04 .inner .boxContent03 a img{
        width: 50px;
        height: 50px;
        margin: 0;
    }

    /* sec05 */

    /* footer */
    footer img{
        width: 130px;
    }
    footer .address{
        font-size: 13px;
    }    
    footer .mark img{
        width: 20px;
        height: 20px;
    }
    footer .mark div span{
        font-size: 10px;
    }
}
