@charset "utf-8";
@media (max-width:640px){
    h2 {
        font-size: 1.8rem;
    }

    .account span {
        font-size: 25px;
    }

    /* 섹션2 */
    .sec02 ul li a{
        width: 90px;
        height: 90px;
        font-size: 12px;
    }
    .sec02 ul li a span{
        font-size: 25px;
    }

    /* 섹션3 */
    .sec03 ul li {
        width: 120px;
        font-size: 20px;
    }
    .sec03 ul li p{
        font-size: 15px;
    }

    /* 섹션4 */
    .sec04{
        padding: 60px 0;
    }
    .sec04 .PGA_title{
        font-size: 1.5rem;
    }
    .sec04 .PGA p:nth-child(2){
        font-size: 15px;
    }
    
    /* 섹션5 */
    .sec05 .inner .reservation .button a {
        width: 110px;
        font-size: 15px;
    }

    /* 섹션6 */
    .sec06 .wrap{
        flex-direction: column;
        align-items: center;
    }
    .sec06 .inner .wrap .course.coast{
        margin-top: 30px;
    }

    /* 섹션7 */
    .sec07 .inner .menu h3 {
        text-align: center;
        font-size: 15px;
    }

    .sec07 .inner>div .content li a{
        font-size: 15px;
    }

    .sec07 .inner .menu .plus{
        display: none;
    }

    /* footer */
    footer .footer_top .shortcut{
        margin: 20px 0 0 -20px;
    }
    footer .footer_top .shortcut a {
        font-size: 13px;
    }
    footer address p {
        font-size: 12px;
    }
}